@keyframes sparkle {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes moving {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
      transform: scale(1.3) translateX(-230px) translateY(0px);
    }
    100% {
      opacity: 0;
    }
  }