.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #464547;
    padding-block-start: 40px;
    padding-block-end: 60px;
}
.footer__item-2{
    padding-block-start: 30px;
}
.footer__item-1{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-small;
    line-height: 89%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-white;
    margin-left: 0px;
}
.footer__address-1{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-small;
    line-height: 119%;
    color: $color-light-white;
}
.footer__adress-2 a{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-small;
    line-height: 119%;
    color: $color-footer;
}
.footer__adress-2{
    padding-block-start: 16px;
}
.footer__item-3{
    padding-block-start: 20px;
}
.footer__year{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-small;
    line-height: 119%;
    color: $color-footer;
}