*, *:before, *:after {
    box-sizing: inherit;
}
body{
    max-width: $max-width;
    margin: $margin-auto; 
}
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/Background_1\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.sparkle-stars{
    position: absolute;
    right: 0;
    transform:translate(11px, 38px) rotateX(-22deg) rotateY(-1deg)scaleX(0.96);
    animation: sparkle 6s infinite cubic-bezier(0.31,-0.22, 1, 0.72);
}
.moving-stars{
    position: absolute;
    right: 0;
    transform: translateX(-109px) translatey(-15px) scale(0.92);
    animation: moving 5s infinite;
}
.box{
    margin-left: 30px;
    margin-right: 30px;
}
.header-section__nav{
    display: flex;
    justify-content: space-between;
}
.header-section__title{
    display: flex;
    align-items: center;
    a{
    text-decoration: none;
    color: $color-white;
    padding: 15px;
    font-family: $font-family;
    size: $fint-size-small;
    font-weight: 600;
    }
}
.header-section__menu{
    padding: 15px;
    padding-inline-start: 0px;
    a{
        text-decoration: none;
        color: #FFFFFF;
        padding: 15px;
        font-family: 'Source Sans 3';
        font-style: normal;
        size: 16px;
        font-weight: 600;
    }
}
.header-section__menu-items {
    display: none;
    a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Source Sans 3';
        font-style: normal;
        Size: 14px;
        font-weight: 400;
    }
  }
  .header-section__hamburger{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    cursor: pointer;
    span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #FFFFFF;
        margin-bottom: 5px;
      }
  }
  .header-section__about{
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block-start: 220px;
    padding-block-end: 220px;
}
.header-section__headline{
    font-family: $font-family;
    font-weight: $font-weight-bold;
    color: $color-white;
    font-size: $fint-size-large;
}
.header-section__content{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    color: $color-light-white;
    font-size: $fint-size-normal;
}
.header-section__logo {
    transition: transform 0.3s;
  }
.header-section__logo:hover {
    transform: scale(1.5) rotatey(180deg);
  }