@media(min-width: 768px){
    .header-section__nav{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .header-section__menu-items{
        display: flex;
        list-style: none;
        li{
            margin-right: 32px;
        }
    }
    .header-section__hamburger{
        display: none;
    }
    .box{
        padding-inline-start: 80px;
        padding-inline-end: 80px;
    }
    .second-section__headline--2{
        display: none;
    }
    .second-section__headline--1{
        display: flex;
        justify-content: center;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        font-size: $font-size-medium;
        color: $color-dark-gray;
        text-align: center;
    }
    .second-section__subtitle{
        text-align: center;
    }
    .second-section__subtitle-text{
        flex-direction: row;
        justify-content: space-around;
    }
    .second-section__button{
        text-align: center;
    }
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
        padding-block-start: 30px;
        padding-block-end: 60px;
    }
    .footer__item-1{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-start;
        padding-top: 30px;
    }
    .footer__item-2{
        flex-basis: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer__item-3{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-end;
    }
    .container__starts{
        padding-inline-start: 100px;
    }
    .container__ends{
        padding-inline-end: 100px;
    }

  }
