.second-section{
    display: flex;
    background: $color-gray;
}
.second-section__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 14px;
    padding-block-end: 90px;
    padding-block-start: 25px;
}
.second-section__headline--1{
    display: none;
}
.second-section__headline--2{
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    line-height: 145%;
    color: $color-dark-gray;
}
.second-section__subtitle{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-normal;
    line-height: 133%;
    color: $color-light-gray;
}
.second-section__subtitle-text{
    display: flex;
    flex-direction: column;
}
.second-section__first-text{
    flex-basis: 40%;
    font-family: $font-family;
    font-weight: $font-weight-normal;
    line-height: 138%;
    color: $color-light-gray; 
}
.second-section__second-text{
    flex-basis: 40%;
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-small;
    line-height: 138%;
    color: $color-light-gray;
}
.second-section__button{
    padding-block-start: 35px;
}
.second-section__button--read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    align-items: center;
    cursor: pointer;
    transform-origin: left top;
    transition: transform 0.4s cubic-bezier(0.3, -0.07, 0.55, 0.96);;
}
.second-section__button--read-more:hover{
    transform: rotate(20deg);
}
/* this is for third section */
.app-section{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    padding-block-start: 60px;
    padding-block-end: 75px;
}
.app-section__title{
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $fint-size-large;
    line-height: 64px;
    text-align: center;
    color: $color-white;
    padding-block-end: 55px;
}
.app-section__ellipse{
    background: $color-primary;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover{
        transform: scale(0.9);
        background-color: $color-white;
    }
}
.app-section__ellipse:hover .app-section__play-button img {
    filter: invert(1); filter: brightness(0) saturate(100%) invert(81%) sepia(7%) saturate(5468%) hue-rotate(148deg) brightness(92%) contrast(81%);
  }
.app-section__play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 15px;
}
.app-section__dis_auto{
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: $fint-size-normal;
    line-height: 133%;;
    text-align: center;
    color: $color-white;
    padding-block-start: 55px;
}