@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');
//fonts
$font-family: 'Source Sans 3', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$fint-size-large: 40px;
$font-size-medium: 30px;
$fint-size-normal: 24px;
$fint-size-small: 16px;

$max-width: 1200px;
$margin-auto: 0 auto;

//colors
$color-white: #FFFFFF;
$color-gray: #EEEEEE;
$color-dark-gray: #464547;
$color-light-gray: #666666;
$color-primary: #55C2D8;
$color-light-white: rgba(255, 255, 255, 0.7);
$color-footer:rgba(255, 255, 255, 0.4);