/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/Background_1\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.sparkle-stars {
  position: absolute;
  right: 0;
  transform: translate(11px, 38px) rotateX(-22deg) rotateY(-1deg) scaleX(0.96);
  animation: sparkle 6s infinite cubic-bezier(0.31, -0.22, 1, 0.72);
}

.moving-stars {
  position: absolute;
  right: 0;
  transform: translateX(-109px) translatey(-15px) scale(0.92);
  animation: moving 5s infinite;
}

.box {
  margin-left: 30px;
  margin-right: 30px;
}

.header-section__nav {
  display: flex;
  justify-content: space-between;
}

.header-section__title {
  display: flex;
  align-items: center;
}
.header-section__title a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  font-family: "Source Sans 3", sans-serif;
  size: 16px;
  font-weight: 600;
}

.header-section__menu {
  padding: 15px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.header-section__menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  font-family: "Source Sans 3";
  font-style: normal;
  size: 16px;
  font-weight: 600;
}

.header-section__menu-items {
  display: none;
}
.header-section__menu-items a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Source Sans 3";
  font-style: normal;
  Size: 14px;
  font-weight: 400;
}

.header-section__hamburger {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  cursor: pointer;
}
.header-section__hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.header-section__about {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-padding-before: 220px;
          padding-block-start: 220px;
  -webkit-padding-after: 220px;
          padding-block-end: 220px;
}

.header-section__headline {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 40px;
}

.header-section__content {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

.header-section__logo {
  transition: transform 0.3s;
}

.header-section__logo:hover {
  transform: scale(1.5) rotatey(180deg);
}

@keyframes sparkle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moving {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: scale(1.3) translateX(-230px) translateY(0px);
  }
  100% {
    opacity: 0;
  }
}
.second-section {
  display: flex;
  background: #EEEEEE;
}

.second-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 14px;
  -webkit-padding-after: 90px;
          padding-block-end: 90px;
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
}

.second-section__headline--1 {
  display: none;
}

.second-section__headline--2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 145%;
  color: #464547;
}

.second-section__subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #666666;
}

.second-section__subtitle-text {
  display: flex;
  flex-direction: column;
}

.second-section__first-text {
  flex-basis: 40%;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  line-height: 138%;
  color: #666666;
}

.second-section__second-text {
  flex-basis: 40%;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #666666;
}

.second-section__button {
  -webkit-padding-before: 35px;
          padding-block-start: 35px;
}

.second-section__button--read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #55C2D8;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  align-items: center;
  cursor: pointer;
  transform-origin: left top;
  transition: transform 0.4s cubic-bezier(0.3, -0.07, 0.55, 0.96);
}

.second-section__button--read-more:hover {
  transform: rotate(20deg);
}

/* this is for third section */
.app-section {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  -webkit-padding-before: 60px;
          padding-block-start: 60px;
  -webkit-padding-after: 75px;
          padding-block-end: 75px;
}

.app-section__title {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  -webkit-padding-after: 55px;
          padding-block-end: 55px;
}

.app-section__ellipse {
  background: #55C2D8;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: transform 0.3s;
}
.app-section__ellipse:hover {
  transform: scale(0.9);
  background-color: #FFFFFF;
}

.app-section__ellipse:hover .app-section__play-button img {
  filter: invert(1);
  filter: brightness(0) saturate(100%) invert(81%) sepia(7%) saturate(5468%) hue-rotate(148deg) brightness(92%) contrast(81%);
}

.app-section__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 15px;
}

.app-section__dis_auto {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #FFFFFF;
  -webkit-padding-before: 55px;
          padding-block-start: 55px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #464547;
  -webkit-padding-before: 40px;
          padding-block-start: 40px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
}

.footer__item-2 {
  -webkit-padding-before: 30px;
          padding-block-start: 30px;
}

.footer__item-1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 89%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 0px;
}

.footer__address-1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(255, 255, 255, 0.7);
}

.footer__adress-2 a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(255, 255, 255, 0.4);
}

.footer__adress-2 {
  -webkit-padding-before: 16px;
          padding-block-start: 16px;
}

.footer__item-3 {
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
}

.footer__year {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .header-section__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-section__menu-items {
    display: flex;
    list-style: none;
  }
  .header-section__menu-items li {
    margin-right: 32px;
  }
  .header-section__hamburger {
    display: none;
  }
  .box {
    -webkit-padding-start: 80px;
            padding-inline-start: 80px;
    -webkit-padding-end: 80px;
            padding-inline-end: 80px;
  }
  .second-section__headline--2 {
    display: none;
  }
  .second-section__headline--1 {
    display: flex;
    justify-content: center;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #464547;
    text-align: center;
  }
  .second-section__subtitle {
    text-align: center;
  }
  .second-section__subtitle-text {
    flex-direction: row;
    justify-content: space-around;
  }
  .second-section__button {
    text-align: center;
  }
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: normal;
    -webkit-padding-before: 30px;
            padding-block-start: 30px;
    -webkit-padding-after: 60px;
            padding-block-end: 60px;
  }
  .footer__item-1 {
    flex-basis: 33.33%;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
  .footer__item-2 {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer__item-3 {
    flex-basis: 33.33%;
    display: flex;
    align-items: flex-end;
  }
  .container__starts {
    -webkit-padding-start: 100px;
            padding-inline-start: 100px;
  }
  .container__ends {
    -webkit-padding-end: 100px;
            padding-inline-end: 100px;
  }
}/*# sourceMappingURL=style.css.map */